/* Update notification */
.rd-dark #rd-updated {
    color: #381d1d;
}

.rd-dark #rd-readButton:hover #rd-updated {
    background-color: #dededeb9;
}

.rd-dark #rd-readButton #rd-updated:hover {
    background-color: #dedede;
}

.rd-dark #rd-dismissUpdated:hover svg {
    background-color: #123c5a;
}

.rd-dark #rd-updatedExclamation,
.rd-dark #rd-dismissUpdated {
    fill: #4c87bc;
}

.rd-dark #rd-buttonPost,
.rd-dark #rd-buttonComments,
.rd-dark #rd-readIcon {
    background-color: #dededeb9;
    color: #1D1D1D;
}

.rd-dark #rd-buttonPost:hover,
.rd-dark #rd-buttonComments:hover,
#rd-readButton:hover #rd-readIcon {
    background-color: #dedede
}

.rd-dark #rd-buttonPost:hover,
#rd-buttonComments:hover
{
  color: #3b3b3b;
}

.rd-dark .rd-moon,
.rd-dark .rd-sun,
.rd-dark #rd-settings,
.rd-dark .rd-close {
    fill: #949494;
}

.rd-dark #rd-doneButton {
    border-color: #80808047;
    color: #80808047;
}

.rd-dark #rd-doneButton:hover {
    border-color: #808080;
    color: #808080;
}

.rd-dark #rd-textOverlay {
    background-color: #1D1D1D;
    color: #c6c6c6;
}

#rd-commentCount,
.rd-dark #rd-textOverlay p.rd-readingTime {
    color: #9f9f9f;
}

.rd-dark a.rd-commentLink svg {
    fill: #6d6d6d;
}

.rd-dark a.rd-commentLink:hover svg {
    fill: #c6c6c6;
}

.rd-dark #rd-textOverlay h1,
.rd-dark #rd-textOverlay h2,
.rd-dark #rd-textOverlay h3,
.rd-dark #rd-textOverlay h4 {
    color: #c6c6c6;
}

.rd-dark #rd-textOverlay a {
    color: #0079d3;
}

.rd-dark #rd-textOverlay a:hover {
    color: #0079d3;
}

.rd-dark #rd-textOverlay a:visited {
    color: #31669b;
}

/*  quotes */
.rd-dark #rd-textOverlay blockquote {
	background-color: #2C2C2C;
	border-color: #2C2C2C;
	color: #cbcbcb;
}

/* Inline code */
.rd-dark #rd-textOverlay code {
    background-color: rgba(255, 255, 255, 0.09);
}

/* Code block */
.rd-dark #rd-textOverlay pre {
    background-color: #2C2C2C;
}

.rd-dark #rd-textOverlay pre code {
    background: none;
}

/* tables */
.rd-dark #rd-textOverlay table {
    border: solid 1px #DDEEEE;
}

.rd-dark #rd-textOverlay table thead th {
    background-color: #303030;
    border: solid 1px #4d4d4d;
    color: #cbcbcb;
}

.rd-dark #rd-textOverlay table tbody td {
    border: solid 1px #4d4d4d;
    color: #cbcbcb;
}
