/*
------------
    Feedback window
------------
*/

#rd-feedback-window {
    max-width: 400px;
    position: fixed;
    z-index: 2147483647;
    top: 20%;
    left: 50%;
    padding: 10px;
    min-width: 150px;
    text-align: center;
    background-color: #CEE3F8;
    box-shadow: rgba(214, 214, 214, 0.47) 0 1px 3px 1px;
    border-radius: 5px;
}

#rd-feedback-window .rd-feedback-text {
    background-color: #FFF;
    margin: 0;
    display: block;
    padding: 5px;
    font-size: 12px;
}

#rd-feedback-window.positive {
    background: #69d47d;
}

#rd-feedback-window.negative {
    background: #ff7f4f;
}
