/* Update notification */
.rd-light #rd-updated {
    color: #381d1d;
}

.rd-light #rd-readButton:hover #rd-updated {
    background-color: #dededeb9;
}

.rd-light #rd-readButton #rd-updated:hover {
    background-color: #dedede;
}

.rd-light #rd-dismissUpdated:hover svg {
    background-color: #123c5a;
}

.rd-light #rd-updatedExclamation,
.rd-light #rd-dismissUpdated {
    fill: #4c87bc;
}


.rd-light #rd-buttonPost,
.rd-light #rd-buttonComments,
.rd-light #rd-readIcon {
    background-color: #dededeb9;
    color: #1D1D1D;
}

.rd-light #rd-buttonPost:hover,
.rd-light #rd-buttonComments:hover,
.rd-light #rd-readButton:hover .rd-light #rd-readIcon {
    background-color: #dedede
}

.rd-light #rd-buttonPost:hover,
.rd-light #rd-buttonComments:hover
{
  color: #3b3b3b;
}

.rd-light .rd-moon,
.rd-light .rd-sun,
.rd-light #rd-settings,
.rd-light .rd-close {
    fill: #1D1D1D;
}

.rd-light #rd-doneButton {
    border-color: #80808047;
    color: #80808047;
}

.rd-light #rd-doneButton:hover {
    border-color: #808080;
    color: #808080;
}

.rd-light #rd-textOverlay {
    background-color: #fff;
    color: #1D1D1D;
}

.rd-light #rd-commentCount,
.rd-light #rd-textOverlay p.rd-readingTime {
    color: #9f9f9f;
}

.rd-light a.rd-commentLink svg {
    fill: #535353;
}

.rd-light  a.rd-commentLink:hover svg {
    fill: #1d1d1d;
}

.rd-light #rd-textOverlay h1,
.rd-light #rd-textOverlay h2,
.rd-light #rd-textOverlay h3,
.rd-light #rd-textOverlay h4 {
    color: #1D1D1D;
}

.rd-light #rd-textOverlay a {
    color: #0079d3;
}

.rd-light #rd-textOverlay a:hover {
    color: #0079d3;
}

.rd-light #rd-textOverlay a:visited {
    color: #31669b;
}

/* Quotes */
.rd-light #rd-textOverlay blockquote {
	background-color: #EEE;
	border-color: #D6D5CF;
	color: #6F6F6F;
}

/* Inline code */
.rd-light #rd-textOverlay code {
    background-color: rgba(0, 0, 0, 0.04);
}

/* Code block */
.rd-light #rd-textOverlay pre {
    background-color: #F5F5F5;
}

.rd-light #rd-textOverlay pre code {
    background: none;
}

/* tables */
.rd-light #rd-textOverlay table {
    border: solid 1px #DDEEEE;
}

.rd-light #rd-textOverlay table thead th {
    background-color: #D8D8D8;
    border: solid 1px #b3b3b3;
}

.rd-light #rd-textOverlay table tbody td {
    border: solid 1px #b3b3b3;
    color: #333;
}
