
/* Main text overlay base font type and size is set here.*/
#rd-textOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2147483647;
    overflow-y: scroll;
}

/* Activation menu */
a.rd-commentReadRedesign {
    font-size: 12px;
    font-weight: bold;
    color: rgb(135, 138, 140);
}


a.rd-commentReadRedesign:hover {
    text-decoration: underline;
}

#rd-readButton {
    position: fixed;
    z-index: 2147483647;
    bottom: 50px;
    right: 30px;
}

#rd-buttonPost,
#rd-buttonComments {
  backface-visibility: hidden;
  visibility: hidden;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 12px;
  font-weight: bold;
  opacity: 0;
  width: 0px;
  overflow: hidden;
  height: 12px;
  padding: 10px;
  cursor: pointer;
  transition-property:opacity width;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

#rd-readButton:hover #rd-buttonPost,
#rd-readButton:hover #rd-buttonComments
{
  width: 75px;
  visibility: visible;
  opacity: 1;
}

#rd-readButton:hover #rd-readIcon {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    transition-property: border-radius;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

#rd-readIcon {
    display: block;
    z-index: 2147483647;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: 0;
}

#rd-readIcon img {
    width: 20px;
    margin: 8px;
}


#rd-readIcon:hover {
    background-color: #dedede
}

body.rd-overlayLoading #rd-readButton #rd-buttonPost,
body.rd-overlayLoading #rd-readButton #rd-buttonComments {
    visibility: hidden;
}


body.rd-overlayLoading #rd-readButton:hover #rd-readIcon {
    border-radius: 25px;
}

body.rd-overlayLoading #rd-readIcon {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

body.rd-overlayActive #rd-readButton {
    display: none;
}

/* Hide the body scrollbar when the overlay is active to prevent double bars */
body.rd-overlayActive {
    overflow: hidden;
}

/* Area reserved for options. Possibly make into hamburger menu in the future */
#rd-textOptions {
    position: fixed;
    left: 10px;
    top: 10px;
}

#rd-textOptions div {
    cursor: pointer;
    opacity: 0.5;
}

#rd-textOptions div:hover {
    opacity: 1;
}

/* Color mode icon */
#rd-colorMode {
    margin-bottom: 1em;
}

.rd-light #rd-colorMode .rd-sun {
    display: none;
}

.rd-light #rd-colorMode .rd-moon {
    display: inline;
}


.rd-dark #rd-colorMode .rd-sun {
    display: inline;
}

.rd-dark #rd-colorMode .rd-moon {
    display: none;
}

/* Overlay close button */
#rd-closeOverlay {
    position: fixed;
    right: 10px;
    top: 10px;
    opacity: 0.5;
}

#rd-closeOverlay:hover {
    cursor: pointer;
    opacity: 1;
}

#rd-mainTextContent {
    margin: auto;
    max-width: calc(100% - 90px); /* margins left for icons on either side */
}

#rd-commentCount {
    margin: 1em 0 4em 0;
}

#rd-commentCount,
#rd-textOverlay p.rd-readingTime {
    font-size: 0.8em;
    font-weight: bold;
}

.rd-comment {
    margin-bottom: 10em;
  }
/* Set up all the text styling in such a way that there is (hopefully) minimal disruption from subreddit styles */
#rd-textOverlay p,
#rd-textOverlay th,
#rd-textOverlay td {
    line-height: 1.4em;
}

#rd-textOverlay p {
    margin: 0.8em 0;
}


#rd-textOverlay ul,
#rd-textOverlay ol {
    padding-left: 2em;
    margin: 0.5em 0;
}

#rd-textOverlay ul {
    list-style-type: disc;
}

#rd-textOverlay ol {
    list-style-type: decimal;
}

#rd-textOverlay li {
    line-height: 1.4em;
}

#rd-textOverlay h1,
#rd-textOverlay h2,
#rd-textOverlay h3,
#rd-textOverlay h4 {
    font-weight: bold;
    margin: 10px 0 5px 0;
}

#rd-textOverlay h1 {
    font-size: 1.6em;
}

#rd-textOverlay h2 {
    font-size: 1.4em;
}

#rd-textOverlay h3 {
    font-size: 1.2em;
}

#rd-textOverlay h4 {
    font-size: 1.1em;
}

#rd-textOverlay a {
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
}

#rd-textOverlay a:hover {
    text-decoration: underline;
}

#rd-textOverlay a:visited {
    text-decoration: none;
}

#rd-textOverlay em {
    font-style: italic;
}

#rd-textOverlay strong {
    font-style: inherit;
    font-weight: bold;
}

/*  quotes */
#rd-textOverlay blockquote {
	display: block;
	margin: 5px 5px;
	padding: 5px;
	position: relative;
}

/* code block */

#rd-textOverlay pre {
    border: 0;
    padding: 1em;
    overflow: auto;
    font-family: "Courier New",courier,monospace;
}

.rd-dark #rd-textOverlay pre code,
.rd-light #rd-textOverlay pre code {
    background: none;
}

/* tables */
#rd-textOverlay table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 10px 0;
}

#rd-textOverlay table thead th {
    padding: 0.5em;
    font-weight: bold;
}

#rd-textOverlay table tbody td {
    padding: 0.5em;
}
