
/* Main text overlay base font type and size is set here.*/ 
#rd-textOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2147483647;
    overflow-y: scroll;
    font-family: verdana;
    font-size: 16px;
}

/* Activation icon */
#rd-readIcon {
    position: fixed;
    bottom: 50px;
    right: 30px;
    cursor: pointer;
    z-index: 2147483647;
    width: 35px;
    height: 35px;
    border-radius: 30px;
}

#rd-readIcon img {
    width: 20px;
    margin: 8px;
}

body.rd-overlayActive #rd-readIcon {
    display: none;
}

/* Hide the body scrollbar when the overlay is active to prevent double bars */
body.rd-overlayActive {
    overflow: hidden;
}

/* Color mode icon */
#rd-colorMode {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

/* Area reserved for options. Possibly make into hamburger menu in the future */
#rd-textOptions {
    position: fixed;
    opacity: 0.3;
    left: 5px;
    top: 5px;
}

#rd-textOptions:hover {
    opacity: 1;
}

/* Overlay close button */
#rd-closeOverlay {
    position: fixed;
    right: 20px;
    top: 5px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    padding: 0;
    opacity: 0.5;
}

#rd-closeOverlay:hover {
    cursor: pointer;
    opacity: 1;
}

#rd-mainTextContent {
    max-width: 45em;
    margin: auto;
}

/* Set up all the text styling in such a way that there is (hopefully) minimal disruption from subreddit styles */
#rd-textOverlay p,
#rd-textOverlay th,
#rd-textOverlay td {
    line-height: 1.4em;
}

#rd-textOverlay p {
    margin: 0.8em 0;
}


#rd-textOverlay ul,
#rd-textOverlay ol {
    padding-left: 2em;
    margin: 0.5em 0;
}

#rd-textOverlay ul {
    list-style-type: disc;
}

#rd-textOverlay ol {
    list-style-type: decimal;
}

#rd-textOverlay li {
    line-height: 1.4em;
}

#rd-textOverlay h1,
#rd-textOverlay h2,
#rd-textOverlay h3,
#rd-textOverlay h4 {
    font-weight: bold;
    margin: 10px 0 5px 0;
}

#rd-textOverlay h1 {
    font-size: 2em;
}

#rd-textOverlay h2 {
    font-size: 1.4em;
}

#rd-textOverlay h3 {
    font-size: 1.2em;
}

#rd-textOverlay h4 {
    font-size: 1.1em;
}

#rd-textOverlay a {
    text-decoration: none;
}

#rd-textOverlay a:hover {
    text-decoration: underline;
}

#rd-textOverlay a:visited {
    text-decoration: none;
}

#rd-textOverlay em {
    font-style: italic;
}

#rd-textOverlay strong {
    font-style: normal;
    font-weight: bold;
}

/*  quotes */
#rd-textOverlay blockquote {
	display: block;
	margin: 5px 5px;
	padding: 5px;
	position: relative;
}

/* code block */

#rd-textOverlay pre {
    border: 0;
    padding: 1em;
    overflow: auto;
    font-family: "Courier New",courier,monospace;
}

#rd-textOverlay pre code {
    background: none;
}

/* tables */
#rd-textOverlay table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 10px 0;
}

#rd-textOverlay table thead th {
    padding: 0.5em;
    font-weight: bold;
}

#rd-textOverlay table tbody td {
    padding: 0.5em;
}
